@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Inter:wght@400;500&display=swap');
@import 'typography';

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: $font-pt-sans;
  font-weight: $fw-400;
  color:#393939
}
*,
*::before,
*::after {
  box-sizing: border-box;
}